
<nav id="navbar-clone" class="navbar is-fixed">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
            
                <img type="image/png" href="./assets/images/favicon.png" />
                <span class="brand-name">Nephos</span>
            </a>
            <span class="navbar-burger burger" data-target="cloneNavbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="cloneNavbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="is-centered-responsive" routerLink="/home">Demo</a>
                </div>
                <div class="navbar-item">
                    <a class="is-centered-responsive" routerLink="/About">About</a>
                </div>
                <div class="navbar-item">
                    <a class="is-centered-responsive" routerLink="/login">Login</a>
                </div>
                <div class="navbar-item">
                    <a class="button feather-button primary-button is-bold raised" routerLink="/account">Account</a>
                </div>
            </div>
        </div>
    </div>
</nav>

