<div class="shop-wrapper">

    <!-- Search overlay -->
    <div class="search-overlay"></div>

    <!-- Search input -->
    <div class="search-input-wrapper is-desktop is-hidden">
        <div class="field">
            <div class="control">
                <input type="text" name="search" autofocus required>
                <span id="clear-search" role="button"><i data-feather="x"></i></span>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
    </div>
    <!-- Main section -->
    <div class="section">
        <!-- Container -->
        <div class="container">

            <!-- Account Layout -->
            <div class="columns account-header">
                <div class="column is-10 is-offset-1 is-tablet-landscape-padded">
                    <!-- Title -->
                    <div class="account-title">
                        <h2>ACCOUNT</h2>
                        <img class="brand-filigrane" src="../../../../wwwroot/assets/images/logo/nephos-greyscale.svg" alt="">
                    </div>

                    <!-- Account tabs -->
                    <div class="tabs account-tabs">
                        <ul>
                            <li class="is-active"><a href="account.html">Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="orders.html">Orders</a></li>
                        </ul>
                    </div>

                    <!-- Account layout -->
                    <div class="columns is-account-grid is-multiline">

                        <div class="column is-5">
                            <!-- User card -->
                            <div class="flat-card profile-card is-auto">
                                <div class="card-body">
                                    <div class="profile-image">
                                        <img src="../../../../wwwroot/assets/images/avatars/elie.jpg" alt="">
                                    </div>
                                    <div class="username has-text-centered">
                                        <span>Elie Daniels</span>
                                        <small>Member since Sep 23 2017</small>
                                    </div>
                                </div>
                                <div class="profile-footer has-text-centered">
                                    <span class="achievement-title">Next Achievement</span>
                                    <div class="count">
                                        24/150
                                    </div>
                                </div>
                            </div>
                            <!-- Gold Customer card -->
                            <div class="flat-card profile-info-card is-auto is-dark is-achievement">
                                <div class="card-body">
                                    <img src="../../../../wwwroot/assets/images/logo/nephos-gold.svg" alt="">
                                    <div class="achievement-name">
                                        <span class="is-gold">Nephos Gold Customer</span>
                                        <span>As a Gold Customer, you have a permanent 10% discount on all your purchases.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Referal card -->
                            <div class="flat-card profile-info-card is-auto is-dark is-achievement">
                                <div class="card-body">
                                    <img src="../../../../wwwroot/assets/images/logo/nephos-referral.svg" alt="">
                                    <div class="achievement-name">
                                        <span class="is-green">Nephos Referer</span>
                                        <span>You have referred <b>30+</b> customers. You get a 2.5% discount on all your purchases.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="column is-7">
                            <div class="flat-card profile-info-card is-auto">
                                <!-- Title -->
                                <div class="card-title">
                                    <h3>Account details</h3>

                                    <div class="edit-account has-simple-popover popover-hidden-mobile" data-content="Edit Account" data-placement="top">
                                        <a href="account-edit.html"><i class="feather-icons" data-feather="settings"></i></a>
                                    </div>
                                </div>
                                <!-- Contact Info -->
                                <div class="card-body">
                                    <div class="columns">
                                        <div class="column is-6">
                                            <div class="info-block">
                                                <span class="label-text">First Name</span>
                                                <span class="label-value">Elie</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">Email</span>
                                                <span class="label-value">eliedaniels@gmail.com</span>
                                            </div>
                                        </div>

                                        <div class="column is-6">
                                            <div class="info-block">
                                                <span class="label-text">Last Name</span>
                                                <span class="label-value">Daniels</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">Phone</span>
                                                <span class="label-value">+1 555 623 568</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Background Nephos Icon -->
                                <img class="card-bg" src="../../../../wwwroot/assets/images/logo/nephos-greyscale.svg" alt="">
                            </div>

                            <!-- Address Info -->
                            <div class="flat-card profile-info-card is-auto">
                                <!-- Title -->
                                <div class="card-title">
                                    <h3>Billing address</h3>
                                    <!-- Cog Button -->
                                    <div class="edit-account is-vhidden">
                                        <a href="account-edit.html"><i class="feather-icons" data-feather="settings"></i></a>
                                    </div>

                                </div>
                                <!-- Billing Address -->
                                <div class="card-body">
                                    <div class="columns">
                                        <div class="column is-6">
                                            <div class="info-block">
                                                <span class="label-text">Number</span>
                                                <span class="label-value">23, Block C2</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">City</span>
                                                <span class="label-value">Los Angeles</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">State</span>
                                                <span class="label-value">CA</span>
                                            </div>
                                        </div>

                                        <div class="column is-6">
                                            <div class="info-block">
                                                <span class="label-text">Street</span>
                                                <span class="label-value">Church Street</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">Postal Code</span>
                                                <span class="label-value">100065</span>
                                            </div>

                                            <div class="info-block">
                                                <span class="label-text">Country</span>
                                                <span class="label-value">United States</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Address Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Main section -->
</div>